<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
</head>
<body id="bootstrapBody">
	<div class = "container">
		<ul class = "nav nav-tabs nav-fill">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li class = "active"><a href="{{url_for('about')}}">About Us</a></li>

		</ul>
	</div>
	<h1 id = "pageTitle">About Us</h1>
	<div class="center">
        <h3>Josh Ke</h3>
        <img src="{{ url_for('static',filename='images/josh.jpg') }}">
		<p>
			Josh is a 4th year Mathematics major from Frisco, TX. After graduation, he hopes to become a data scientist. In his free time he enjoys playing guitar.
		</p>
		<p>Responsibilities: </p>
		<p>Number of Commits: </p>
		<p>Number of Issues: </p>
		<p>Number of Unit Tests: </p>

	<br/>
	<div class="center">
	<h3>Sai Athota</h3>
        <img src="{{ url_for('static',filename='images/sai.png') }}">
		<p>
			Sai is a 4th year MIS & Mathematics major from Frisco, TX. After graduation, he will be a strategy consultant at PwC. He's very passionate about the automotive industry.
		</p>
		<p>Responsibilities: Write the technical report.</p>
		<p>Number of Commits: 6</p>
		<p>Number of Issues: 2 </p>
		<p>Number of Unit Tests: 0 </p>


	</div>
	<br/>
	<div class ="center">
		<h3>Patrick Zhu</h3>
		<img src="{{url_for('static',filename='images/patrick.jpg')}}" width="300" height="300">
		<p>Patrick is a senior at UT Austin studying Computer Engineering. He enjoys sports, coding, and nature.</p>
		<p>Responsibilities: Set up Digital Ocean and the bulk of the website. Completed modeling of the database with Josh. Integrated the tools used in the project. Organized tasks for the team and served as a point of contact for help in any area of the project. </p>
		<p>Number of Commits: 17</p>
		<p>Number of Issues: TBD</p>
		<p>Number of Unit Tests: TBD</p>
	</div>
	<br/>
	<div class="center">
        <h3>Lydia Yu</h3>
        <img src="{{ url_for('static',filename='images/lydia.jpg') }}">
		<p>
			Lydia is a 4th year Finance major from Dallas, TX. After graduation, she hopes to become a trader. In her free time she enjoys dancing, reading, and nature.
		</p>
		<p>Responsibilities: Created and linked the static HTML pages within the templates folder, in addition to helping with the setup and finalization of the splash page/Bootstrap.</p>
		<p>Number of Commits: 13</p>
		<p>Number of Issues: 7</p>
		<p>Number of Unit Tests: N/A</p>
	</div>
	<hr/>
	<div class="center">
	<h3>Paul Tan</h3>
        <img src="{{ url_for('static',filename='images/paul.jpg') }}" width="300" height="400">
		<p>
			Paul is a 4th year Petroleum Engineering major from Houston, TX. After graduation, he wants to do so much. In his free time he enjoys sports, trolling, and nature.
		</p>
		<p>Responsibilities: </p>
		<p>Number of Commits: </p>
		<p>Number of Issues: </p>
		<p>Number of Unit Tests: </p>
	</div>
	<br/>
        <h3>Stats</h3>
		<p>Total number of commits: </p>
		<p>Total number of issues: 15</p>
		<p>Total number of unit tests N/A</p>
		<p><a href="https://gitlab.com/patrickzhu7/cs329e-idb/issues">GitLab Issue Tracker</a></p>
		<p><a href="https://gitlab.com/patrickzhu7/cs329e-idb">GitLab Repo</a></p>
		<p><a href="https://gitlab.com/patrickzhu7/cs329e-idb/wikis/Home">GitLab Wiki</a></p>
	</div>
	<hr/>
	<div class="center">
        <h3>Data</h3>
		<p><a href="http://www.cs.utexas.edu/~fares/cs329ef18/CS%20373_files/tutorials/books.json">Books</a></p>
	</div>
	<hr/>
	<div class="center">
        <h3>Tools</h3>
		<p>Used tools included Python, HTML, GCP, Apache, WSGI, Virtual Environment, Flask, Flask-SQLAlchemy, etc.</p>
	</div>

	
	
</body>
</html>
