<!DOCTYPE html>
<html>
<head>
	<title>About Us</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
</head>
<body id="bootstrapBody">
	<div class = "container">
		<ul class = "nav nav-tabs nav-fill">
			<li><a href="{{url_for('index')}}">Home</a></li>
			<li class = "active"><a href="{{url_for('about')}}">About Us</a></li>

		</ul>
	</div>
	<h1 id = "pageTitle">About Us</h1>
	<div class="center">
        <h3>Josh Ke</h3>
        <img src="{{ url_for('static',filename='images/Josh.jpg') }}">
		<p>
			Josh is a 4th year Mathematics major from Frisco, TX. After he graduates, he hopes to become a data scientist. In his free time he enjoys playing guitar.
		</p>
		<p>Responsibilities: </p>
		<p>Number of Commits: </p>
		<p>Number of Issues: </p>
	</div>
	<hr/>
	
</body>
</html>