<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	</head>
	<body>
		<div class = "container-field">
			<h1>Authors</h1>
			<p class = "lead">"Discover a world of new authors!" </p>
			<div class = "row">
				<div class="col-md-4" href="{{url_for('jkrowling')}}">J.K. Rowling</div>
				<div class="col-md-4" href="{{url_for('seuss')}}">Dr. Seuss</div>
				<div class="col-md-4" href="{{url_for('shakespeare')}}">William Shakespeare</div>
			</div>

			<a href="{{url_for('index')}}">Main Menu</a>
		</div>
	</body>
</html>
<!-- end of authors.html -->

