<html>
	<head>
	Barron's Educational Series
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Name</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>Barron's Educational Series</td>
			</tr>
			<tr>
		  		<td>Founded</td>
		  		<td>1941</td>
			</tr>
			<tr>
		  		<td>Location</td>
		  		<td>Hauppauge, New York</td>
			</tr>			
			<tr>
		  		<td>Description</td>
		  		<td>Barron's Educational Series, Inc. is an American test preparation company, founded in 1941 as a publisher of materials to help students to prepare for college entrance examinations, and that offers online college entrance exam preparation classes."</td>			
			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="https://en.wikipedia.org/wiki/Barron%27s_Educational_Series">Barron's Educational Series</a></td>
			</tr>
			<tr>
		  		<td>Website</td>
		  		<td><a href="http://www.barronseduc.com">Barron's Educational Series</a></td>
			</tr>

			<tr>
		  		<td>Books</td>
		  		<td><ul>
					<li><a href="{{url_for('romeo')}}">Romeo and Juliet</a></li>			
				</ul></td>
			</tr>

    </table>
		<hr/>	
			<a href="{{url_for('index')}}">Main Menu</a>

	</body>
</html>
<!-- end of barrons.html -->



