<html>
	<head>
	Green Eggs and Ham
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Name</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>Green Eggs and Ham</td>
			</tr>
			<tr>
		  		<td>Google ID</td>
		  		<td>gvKpPwAACAAJ</td>
			</tr>
			<tr>
		  		<td>ISBN</td>
		  		<td>0679891293</td>
			</tr>
			<tr>
		  		<td>Publication Date</td>
		  		<td>1998-10-01</td>
			</tr>			
			<tr>
		  		<td>Description</td>
		  		<td>Sam-I-Am tries to persuade his friend to try green eggs and ham."</td>			
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="https://books.google.com/books/content/images/frontcover/gvKpPwAACAAJ?fife=w500"></td>
			</tr>
			<tr>
		  		<td>Author</td>
		  		<td><a href="{{url_for('seuss')}}">Dr. Seuss</a></td>
			</tr>

			<tr>
		  		<td>Publisher</td>
		  		<td><a href="{{url_for('randomhouse')}}">Random House</a></td>
			</tr>

    </table>
		<hr/>	
			<a href="{{url_for('index')}}">Main Menu</a>

	</body>
</html>
<!-- end of eggs.html -->



