<html>
	<head>
	Harry Potter and the Sorcerer's Stone	
	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Title</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>Harry Potter and the Sorcerer's Stone</td>
			</tr>
			<tr>
		  		<td>Google ID</td>
		  		<td>wrOQLV6xB-wC</td>
			</tr>
			<tr>
		  		<td>ISBN</td>
		  		<td>9781781100486</td>
			</tr>
			<tr>
		  		<td>Publication Date</td>
		  		<td>2015-12-08</td>
			</tr>
			<tr>
		  		<td>Description</td>
		  		<td>"Turning the envelope over, his hand trembling, Harry saw a purple wax seal bearing a coat of arms; a lion, an eagle, a badger and a snake surrounding a large letter 'H'." Harry Potter has never even heard of Hogwarts when the letters start dropping on the doormat at number four, Privet Drive. Addressed in green ink on yellowish parchment with a purple seal, they are swiftly confiscated by his grisly aunt and uncle. Then, on Harry's eleventh birthday, a great beetle-eyed giant of a man called Rubeus Hagrid bursts in with some astonishing news: Harry Potter is a wizard, and he has a place at Hogwarts School of Witchcraft and Wizardry. An incredible adventure is about to begin!</td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="https://books.google.com/books/content/images/frontcover/wrOQLV6xB-wC?fife=w500"></td>
			</tr>
			<tr>
		  		<td>Author</td>
		  		<td><a href="{{url_for('jkrowling')}}">J.K. Rowling</a></td>
			</tr>
			<tr>
		  		<td>Publisher</td>
		  		<td><a href="{{url_for('pottermore')}}">Pottermore</a></td>
			</tr>


    </table>
	</body>
</html>
<!-- end of harrypotter.html -->

