<html>
	<head>
	J. K. Rowling
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	
	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Name</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>J. K. Rowling</td>
			</tr>
			<tr>
		  		<td>Born</td>
		  		<td>1965-07-31</td>
			</tr>
			<tr>
		  		<td>Education</td>
		  		<td>Bachelor of Arts</td>
			</tr>
			<tr>
		  		<td>Nationality</td>
		  		<td>British</td>
			</tr>
			<tr>
		  		<td>Alma Mater</td>
		  		<td>University of Exeter</td>
			</tr>
			<tr>
		  		<td>Description</td>
		  		<td>Joanne "Jo" Rowling, OBE, FRSL, pen names J. K. Rowling and Robert Galbraith, is a British novelist, screenwriter and film producer best known as the author of the Harry Potter fantasy series.</td>
			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="https://en.wikipedia.org/wiki/J._K._Rowling">J. K. Rowling</a></td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/5d/J._K._Rowling_2010.jpg/220px-J._K._Rowling_2010.jpg"></td>
			</tr>
			<tr>
		  		<td>Books</td>
		  		<td><ul>
					<li><a href="{{url_for('harrypotter')}}">Harry Potter and the Sorcerer's Stone</a></li>			
				</ul></td>
			</tr>

    </table>
	</body>
</html>
<!-- end of harrypotter.html -->


