<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">
	</head>
	<body>
		<div class = "container-field">
			<h1>Publishers</h1>
			<p class = "lead">"Discover a world of new publishers!" </p>
			<div class = "row">
				<div class="col-md-4"><a href="{{url_for('pottermore')}}">Pottermore</div>
				<div class="col-md-4"><a href="{{url_for('randomhouse')}}">Random House</div>
				<div class="col-md-4"><a href="{{url_for('barrons')}}">Barron's Educational Series</div>
				<div class="col-md-4"><a href="{{url_for('some_publisher',name="Pottermore")}}">Some publisher</div>

		</div>
		<hr/>	
			<a href="{{url_for('index')}}">Main Menu</a>
		</div>
	</body>
</html>
<!-- end of publishers.html -->

