<html>
	<head>
	Random House
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Name</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>Random House</td>
			</tr>
			<tr>
		  		<td>Founded</td>
		  		<td>1927</td>
			</tr>
			<tr>
		  		<td>Location</td>
		  		<td>Random House Tower, New York City, New York, United States</td>
			</tr>
			<tr>
		  		<td>Parent Company</td>
		  		<td>Penguin Random House</td>
			</tr>
			<tr>
		  		<td>Description</td>
		  		<td>Random House is the largest general-interest paperback publisher in the world. As of 2013, it is part of Penguin Random House, which is jointly owned by German media conglomerate Bertelsmann and British global education and publishing company Pearson PLC.</td>
			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="https://en.wikipedia.org/wiki/Random_House">Random House</a></td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Increase2.svg/11px-Increase2.svg.png"></td>
			</tr>
			<tr>
		  		<td>Website</td>
		  		<td><a href="http://randomhouse.com">Random House</a></td>
			</tr>

			<tr>
		  		<td>Books</td>
		  		<td><ul>
					<li><a href="{{url_for('eggs')}}">Green Eggs and Ham</a></li>			
				</ul></td>
			</tr>

    </table>
	</body>
</html>
<!-- end of randomhouse.html -->


