<html>
	<head>
	Dr. Seuss
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Name</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>Dr. Seuss</td>
			</tr>
			<tr>
		  		<td>Born</td>
		  		<td>1904-03-02</td>
			</tr>
			<tr>
		  		<td>Died</td>
		  		<td>1991-09-24</td>
			</tr>
			<tr>
		  		<td>Description</td>
		  		<td>Theodor Seuss Geisel was an American writer, cartoonist, animator, book publisher, and artist best known for authoring children's books under the pen name Dr. Seuss.</td>
			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="https://en.wikipedia.org/wiki/Dr._Seuss">Dr. Seuss</a></td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Ted_Geisel_NYWTS_2_crop.jpg/220px-Ted_Geisel_NYWTS_2_crop.jpg"></td>
			</tr>
			<tr>
		  		<td>Books</td>
		  		<td><ul>
					<li><a href="{{url_for('eggs')}}">Green Eggs and Ham</a></li>			
				</ul></td>
			</tr>

    </table>
		<hr/>	
			<a href="{{url_for('index')}}">Main Menu</a>

	</body>
</html>
<!-- end of seuss.html -->


