<html>
	<head>
	William Shakespeare
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

	</head>
	<hr />
	<body>
		<table> 
			<tr>     <!-- Row tags: <tr> </tr> -->
		  		<td>Name</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  		<td>William Shakespeare</td>
			</tr>
			<tr>
		  		<td>Born</td>
		  		<td>Stratford-upon-Avon, Warwickshire, England</td>
			</tr>
			<tr>
		  		<td>Died</td>
		  		<td>23 April 1616 (aged 52) <br /> Stratford-upon-Avon, Warwickshire, England</td>
			</tr>
			<tr>
		  		<td>Description</td>
		  		<td>William Shakespeare was an English poet, playwright, and actor, widely regarded as the greatest writer in the English language and the world's pre-eminent dramatist. He is often called England's national poet, and the "Bard of Avon".</td>
			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="https://en.wikipedia.org/wiki/William_Shakespeare">William Shakespeare</a></td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="http://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Shakespeare.jpg/220px-Shakespeare.jpg"></td>
			</tr>
			<tr>
		  		<td>Books</td>
		  		<td><ul>
					<li><a href="{{url_for('romeo')}}">Romeo and Juliet</a></li>			
				</ul></td>
			</tr>

    </table>
	</body>
</html>
<!-- end of shakespeare.html -->

