<html>
	<head>
	William Shakespeare
	</head>
	<hr />
	<body>

		<table> <!-- Table tags: <table> </table> -->
			<tr>     <!-- Row tags: <tr> </tr> -->
		  <td>Data 1,1</td> <!-- Cell tags (standard cell): <td> </td> by default, these are regular and left-aligned.-->
		  <td>Data 1,2</td>
		</tr>
		<tr>
		  <td>Data 2,1</td>
		  <td>Data 2,2</td>
		</tr>
		<tr>
		  <td>Data 3,1</td>
		  <td>Data 3,2</td>
		</tr>
    </table>

		<p>Books</p>
		<a href="{{url_for('romeo')}}">Romeo and Juliet</a>
	</body>
</html>
<!-- end of shakespeare.html -->

