<html>
	<head>
	<title>{{ publisher.name }}</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="../static/css/layout.css">

	</head>
	<hr />
	<body>
		<table>
			<tr>    
		  		<td>Name</td> 
		  		<td>{{ publisher.name }}</td>
			</tr>
			<tr>
		  		<td>Owner</td>
		  		<td>{{ publisher.owner }}</td>
			</tr>			
			<tr>
		  		<td>Description</td>
		  		<td>{{ publisher.description }}</td>

			</tr>
			<tr>
		  		<td>Wikipedia</td>
		  		<td><a href="{{ publisher.wikipedia_url }}">wiki</a></td>
			</tr>
			<tr>
		  		<td>Image</td>
		  		<td><img src="{{ publisher.image_url }}"></td>
			</tr>
			<tr>
		  		<td>Website</td>
		  		<td><a href="{{ publisher.website }}">website</a></td>
			</tr>

			<tr>
		  		<td>Books</td>
		  		<td><ul>
				</ul></td>
			</tr>
    		</table>
		<div>	
			<a href="{{url_for('index')}}">Main Menu</a>
		</div>
	</body>
</html>


